@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayMaxLight: #E9E7E7;
$darkNavy: #19009C;
$lightNavy: #2E1BFF;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

#main_body {
  min-height: 500px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.highlight {
  font-size: 1.2em;
}

/* header */
.navbar-inverse .navbar-inner {
  background-color: $darkNavy;
  background-image: -moz-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($darkNavy), to($lightNavy));
  background-image: -webkit-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: -o-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: linear-gradient(to bottom, $darkNavy, $lightNavy);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightNavy', endColorstr='$darkNavy', GradientType=0);
  border-color: #252525;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: $grayMaxLight;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: $darkNavy;
  background-image: -moz-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($darkNavy), to($lightNavy));
  background-image: -webkit-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: -o-linear-gradient(top, $darkNavy, $lightNavy);
  background-image: linear-gradient(to bottom, $darkNavy, $lightNavy);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightNavy', endColorstr='$darkNavy', GradientType=0);
  color: white;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: white;
  background-color: $lightNavy;
  background-color: $lightNavy;
  background-image: -moz-linear-gradient(top, $lightNavy, $lightNavy);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($lightNavy), to($lightNavy));
  background-image: -webkit-linear-gradient(top, $lightNavy, $lightNavy);
  background-image: -o-linear-gradient(top, $lightNavy, $lightNavy);
  background-image: linear-gradient(to bottom, $lightNavy, $lightNavy);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightNavy', endColorstr='$darkNavy', GradientType=0);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $darkNavy;
    background-image: -moz-linear-gradient(top, $darkNavy, $lightNavy);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($darkNavy), to($lightNavy));
    background-image: -webkit-linear-gradient(top, $darkNavy, $lightNavy);
    background-image: -o-linear-gradient(top, $darkNavy, $lightNavy);
    background-image: linear-gradient(to bottom, $darkNavy, $lightNavy);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightNavy', endColorstr='$darkNavy', GradientType=0);
  }
  max-width: 140px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}