<footer class="footer">
  <small>
    <div>Copyright © 2012, 2014. All Rights Reserved.</div>
    <div>总策划:&nbsp;陈瑞清&nbsp;(Wallace&nbsp;Chen)&nbsp;juiching&nbsp;[at]&nbsp;miis.edu&nbsp;&nbsp;设计执行:&nbsp;朱力安&nbsp;(Lian&nbsp;Zhu)&nbsp;mephisto336688&nbsp;[at]&nbsp;gmail.com
    </div>
    <div>技术开发:&nbsp;陈恺&nbsp;(Allen&nbsp;Chen)&nbsp;allench86&nbsp;[at]&nbsp;gmail.com&nbsp;&nbsp;任超&nbsp;renchaorevee&nbsp;[at]&nbsp;gmail.com </div>
    </div>
  </small>
</footer>